* {
    box-sizing: border-box;
}
main {
    flex: 1;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #49545c; 
    color: #fff;
}
form {
    color: #000;
}

.foto-perfil {
    height: 200px;
    width: 200px;
    max-width: 100%;
    object-fit: cover;
}

.foto-portfolio {
    height: 350px;
    width: 350px;
    object-fit: cover;
}
