/* Regras Gerais */

* {
    box-sizing: border-box;
    /* Mudar Fonte para Poppins */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #242C33;
    --color-secondary: #CB002D;
    --color-black: #000;
    --color-white: #FFF;
}

body{background: var(--color-primary);}

/* Desativar quando fizer versão desktop */
nav {display: none;}


/* Página Index */
.destaqueIndex p a{
    text-decoration: none;
    color: #ff0000;
}

.font {
    color: var(--color-secondary, #242C33);
    /* font-family: Poppins; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* text-align: center; */
}

.navegacao {
    background: var(--container, rgba(203, 0, 45, 0.25));

    width: 23.4375rem;
    height: 5.75rem;
    flex-shrink: 0;
}

.logo {
    display: inline-flex;
    height: 5.0625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
}

.imagemDestaque {
    background: url(/HTML/assets/imagem-destaque.jpg), lightgray 0.704px 0px / 99.624% 100% no-repeat;

    width: 23.4375rem;
    height: 15.5625rem;
    flex-shrink: 0;
}
