/* Regras Gerais */

* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
}
main {
    margin: 10px;
}

:root {
    --color-primary: #242C33;
    --color-secondary: #CB002D;
    --color-black: #000;
    --color-white: #FFF;
}

.text-center {
    text-align: center;
}

.center {
    margin: auto;
    width: 100%;
}

/* body{background: var(--color-primary);} */

/* Desativar quando fizer versão desktop */
/* nav {display: none;} */

h1 {
    
    padding-top: 10px;
}

/* HEADER */
header {
    /* width: 20rem; */
    height: 6.25rem;
    flex-shrink: 0;
}

.navegacao nav {
    background: #BBB;
    /* width: 20rem; */
    height: 1.875rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    
}

.navegacao a {
    text-decoration: none;
    padding: 4px;
    color: #000;
}

nav a:hover {
    color: #fff;
    cursor: pointer;
}

/* INDEX */
.botao-saiba-mais-index {
    width: 6.25rem;
    height: 1.875rem;
    flex-shrink: 0;
    margin: auto;
    
    background: #999;
    color: #FFF;
}

.botao-saiba-mais-index p {
    /* font-family: Inter; */

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 8px;
}

.botao-saiba-mais-index a {
    text-decoration: none;
    color: #fff;
}

/* DESTAQUE INDEX */

/* .destaqueIndex p a {
    text-decoration: none;
    display: none;
}

.destaqueIndex p a:hover {
    color: lightgray;
} */

/* ARTISTAS */
.destaque-artista-index {
    width: 18.75rem;
    height: 25rem;
    flex-shrink: 0;
    
    background: #D9D9D9;
}

.destaqueArtistas {
    width: 18.125rem;
    height: 18.75rem;
    flex-shrink: 0;
    background: #BBB;
    margin: 4.5px;
}


/* ESTILOS */
.estilos {
    width: 18.75rem;
    height: 25rem;
    flex-shrink: 0;
    background: #D9D9D9;
}

.cardEstilos {
    text-align: center;
}

.estilos .botao-saiba-mais-index {
    margin: -8px auto;
}

/* CONTATO */
.contatos {
    background: #D9D9D9;
    width: 18.75rem;
    height: 13.0625rem;
    flex-shrink: 0;
}

.contato {
    width: 18.125rem;
    height: 9.9375rem;
    flex-shrink: 0;
    background: #BBBBBB;
    margin: 8px auto;
    padding: 4px;
}

.botao-contato {
    width: 6.25rem;
    height: 1.875rem;
    flex-shrink: 0;
    margin: 12px auto;
    
    background: #999;
    color: #FFF;
}

.botao-contato p {
    
    /* font-family: Inter; */
    padding: 8px;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.botao-contato a {
    text-decoration: none;
    color: #fff;
}


/* CADASTRO/LOGIN */
.cadastro {
    width: 18.75rem;
    height: 12.5rem;
    flex-shrink: 0;
    background: #D9D9D9;
}

.cadastro-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cadastro-login a {
    text-decoration: none;
    color: #fff;
    
}

.cadastro-login p {
    /* font-family: Inter; */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}


.botao-cadastro, .botao-login {
    width: 100px;
    height: 20px;
    flex-shrink: 0;
    margin: 12px auto;

    
    background: #999;
    color: #FFF;
}


/* FOOTER */
footer {
    background: #BBB;

    /* width: 20rem; */
    height: 1.875rem;
    flex-shrink: 0;
   
    display: flex;
    justify-content: space-evenly;
        
}
    
footer a {
    text-decoration: none;
    padding: 4px;
    color: #000;
}

/* footer a:hover {
    color: #fff;
    cursor: pointer;
} */

/* CSS PÁGINA DE CADASTRO */
.titulo-cadastro {
    text-align: center;
}
.form-cadastro {
    padding: 10px;
}
.form-cadastro div {
    margin: 10px 0;
}
.form-cadastro input {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.form-cadastro textarea {
    border-radius: 5px;
    height: 75px;
    padding: 5px;
    resize: none;
    width: 100%;
}
.form-cadastro button {
    background-color: #EEE;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}
.form-cadastro button:hover {
    background-color: #BBB;
    cursor: pointer;
}
.form-rua-numero {
    display: flex;
    justify-content: space-between;
}
.form-bairro-complemento,
.form-celular-telefone {
    display: flex;
    justify-content: space-between;
}
.form-bairro-complemento div,
.form-celular-telefone div {
    width: 48%;
}
.div-rua {
    width: 68%;
}
.div-numero-casa {
    width: 28%;
}
#foto-de-perfil {
    background-color: #999;
    height: 150px;
    margin: auto;
    width: 150px;
}
.nome-perfil {
    text-align: center;
}
.dados-perfil {
    padding: 10px;
}
.dados-perfil a,
.botao-voltar {
    background-color: #CCC;
    border-radius: 5px;
    color: #000;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}
.dados-perfil a:hover,
.botao-voltar:hover {
    background-color: #999;
}