/* Regras Gerais */

* {
    box-sizing: border-box;

    /* Mudar Fonte para Poppins */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #242C33;
    --color-secondary: #CB002D;
    --color-black: #000;
    --color-white: #FFF;
}

body{background: var(--color-primary);}

/* Desativar quando fizer versão desktop */
/* nav {display: none;} */





/* Página Index */

.font {
    color: var(--color-secondary, #242C33);
    /* font-family: Poppins; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


/* HEADER */
.navegacao {
    background: var(--container, #cb002d40);

    width: 23.4375rem;
    height: 7rem;
    flex-shrink: 0;
}

.navegacao nav {
    display: flex;
    justify-content: space-evenly;

}

.navegacao nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: #242C33;
    
}

.navegacao nav a:hover {
    text-shadow: #CB002D 1px 1px 3px;
    color: lightgray;
    font-weight: 800;
}

.logo {
    display: inline-flex;
    height: 5.0625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
}


/* DESTAQUE INDEX */
.destaqueIndex {
    background: url(/HTML/assets/imagem-destaque.jpg), lightgray 0.704px 0px / 99.624% 100% no-repeat;

    width: 23.4375rem;
    height: 15.5625rem;
    flex-shrink: 0;
}

.destaqueIndex p a {
    text-decoration: none;
    display: none;
}

.destaqueIndex p a:hover {
    color: lightgray;
}



/* FOOTER */
footer {
    background: var(--container, #cb002d40);
    width: 23.4375rem;
}


footer nav {
    display: flex;
    justify-content: space-evenly;

}

footer nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: #242C33;
    
}

footer nav a:hover {
    text-shadow: #CB002D 1px 1px 3px;
    color: lightgray;
    font-weight: 800;
}